<div class="container">
  <div ng-controller="forgotPasswordCtrl">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <br><br><br><br>
        <div class="jumbotron">
          <div ng-hide="danger" class="alert alert-danger alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <label>{{alertMessage}}</label>
          </div>
          <div ng-hide="info" class="alert alert-info alert-dismissible text-center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <label>{{alertMessage}}</label>
          </div>
          <div class="text-center luc">
            <h4>Enter your email address and we will send
             you a link to reset your password.</h4>
          </div>
          <div class="text-center">
            <form class="form-inline">
              <div class="form-group">
                <label class="sr-only">Email</label>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" ng-model="email" id="email" placeholder="Email">
              </div>
              <button type="submit" ng-click="sendEmail()" class="btn btn-success">sent password reset email</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
